@tailwind base;
@tailwind components;

:root {
    background-color: black;
    color: white;
    font-family: 'IBM Plex Mono';
    overflow-x: hidden;
    z-index: 0;
    position: relative;
    -ms-overflow-style: none;
    scrollbar-width: none;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    scroll-behavior: smooth;
}
#root {
    display: flex !important;
    align-items: center;
    justify-content: center;
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: 100vh;
    scroll-behavior: smooth;
}
@media (min-width: 1024px) {
    :root {
        text-align: left;
    }
}

:root::-webkit-scrollbar {
    display: none;
}

h1 {
    font-size: 3rem;
    font-weight: 900;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.2rem;
}

p {
    color: #999;
    font-weight: 500;
}

a {
    transition:ease-out;
    transition-duration: 200ms;
    filter:brightness(100%);

}
a:hover {
    cursor: pointer;
    filter:brightness(25%);
}

strong {
    color: white;
}

#loaderImage {
    animation: dooropen 1s ease-out;
    transform: perspective(40rem) rotateY(90deg);
    height: 12rem;
    width: 12rem;
}
#loaderShadow {
    animation: glow 1s ease-out;
    filter: blur(0px) brightness(0%) invert(100%) opacity(100%);
    height: 12rem;
    width: 12rem;
}
.cont {
    max-width: 95vw !important;
}
.pentagon-left {
    clip-path: polygon(0% 50%, 10% 0%, 100% 0%, 100% 100%, 10% 100%);
}
.pentagon-right {
    clip-path: polygon(100% 50%, 90% 0%, 0% 0%, 0% 100%, 90% 100%);
}

@tailwind utilities;